.info-page {
  margin-bottom: .5rem;
  grid-column: center-start / sidebar-right-end;
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(10rem, 1fr) minmax(10rem, 28rem) minmax(10rem, 1fr);
  
  @include respond(tab-land) {
    grid-column: sidebar-left-start / sidebar-right-end;
  }

  @include respond(tab-phone) {
    grid-template-rows: min-content 1fr;
  }

  &--col1 {
    background-color: $base-white-color;

    padding: 8rem;

    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tab-land) {
      padding: 4rem;
    }

    @include respond(tab-phone) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    &--heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &--numberBg {
      font-weight: 500;
      font-size: 7rem;
    }

    &--numberSm {
      font-size: 5rem;
      font-weight: 400;
      align-self: flex-end;
    }

    &--textInfo {
      &--heading {

      }

      &--quote {

      }
    }
  }

  &--col2 {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    @include respond(tab-phone) {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}