.p {
    display: inline-block;
    
    &--huge {
        font-size: 15rem;

        @include respond(big-desktop) {
            font-size: 12rem;
        }

        @include respond(tab-land) {
            font-size: 9rem;
        }
    }

    &--big {
        font-size: 8rem;
    }

    &--medium {
        font-size: 5rem;
    }

    &--small {
        font-size: 2.5rem;
        font-weight: 400;

        @include respond(big-desktop) {
            font-size: 2rem;
        }

        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        @include respond(tab-phone) {
            font-size: 1.5rem;
        }
    }
}

.nomall {
    font-size: .9rem;
}