//COLORS 
$base-gray-color: #232935;
$base-white-color: #FFFFFF; 
$base-dark-color: #161618; 
$base-pink-header-color: #A43A66; 
$base-grey-font-color: #C5C5C7;

//FONTS 
$base-font-family: 'Ubuntu', sans-serif;