.start-page {
    grid-column: sidebar-left-end / sidebar-right-end;
    height: 100vh;

    margin-top: 15rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &--col1 {

    }

    &--col2 {

    }

    &--col3 {

    }
}