.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $base-dark-color;

    &--nav, .header--closed {

        @include respond(phone) {
            display: none;
        }

        padding: 5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            padding: 3rem;
        }

        &--link {
            margin-left: 5rem;
            color: $base-white-color;
            transform: translateY(0);
            transition: .2s ease-in-out all;
            
            @include respond(tab-port) {
                margin-left: 1rem;
            }

            &::after {
                content: ""; 
                width: 0%;
                background-color: $base-white-color;
                height: .1rem;
                display: block;
                transition: .2s ease-in-out all;
                transform: translateY(0);
            }

            &:hover::after {
                transform: translateY(.3rem);
                width: 100%;
            }

            &:hover {
                transform: translateY(-.3rem);
            }
        }

        &--btn {
            
        }
    }

    &--nav, .header--open {

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        padding: 5rem;
        width: 100%;
        justify-content: space-between;
        transition: .2s ease-in-out all;

        @include respond(tab-port) {
            padding: 3rem;
            margin-top: 4rem;
            transition: .2s ease-in-out all;
        }

        &--link {
            margin-left: 5rem;
            color: $base-white-color;
            transform: translateY(0);
            transition: .2s ease-in-out all;
            text-transform: uppercase;

            @include respond(tab-port) {
                margin-left: 1rem;
            }

            &::after {
                content: ""; 
                width: 0%;
                background-color: $base-white-color;
                height: .1rem;
                display: block;
                transition: .2s ease-in-out all;
                transform: translateY(0);
            }

            &:hover::after {
                transform: translateY(.3rem);
                width: 100%;
            }

            &:hover {
                transform: translateY(-.3rem);
            }
        }

        &--btn {
            
        }
    }
}

.options {
    font-size: 2rem;
    font-weight: 400;
}